body {
  font-family: 'Montserrat', sans-serif;
}

a:link {
  color: #454F58;
  text-decoration: none;
}

a:hover {
  color: #A4E4F5 !important;
}

a:visited {
  color: #96A0AA;
  ;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}
h5#author{
  color: #2E3D49;
}

hr {
  border: dotted #E5EFF5 4px;
  border-bottom: none;
  width: 25%;
}
hr#post {
  border: dotted#f9f9fa 4px;
  border-bottom: none;
  width: 25%;
}


ul {
  list-style-type: none;
  line-height: 2em;
}

ul#side {
  background-color: #f9f9fa;
}

input {
  width: 100%;
  padding: 10px;
  display: block;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #53CBED;
  padding: 12px 20px;
  border: none;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #017A9B;
}

input:focus {
  outline: none !important;
  border-color: #53CBED;
  box-shadow: 0 0 10px #53CBED;
}
